[submodule "ckeditor"]
	path = ckeditor
	url = https://github.com/ckeditor/ckeditor-dev.git
[submodule "plugins/wsc"]
	path = plugins/wsc
	url = https://github.com/WebSpellChecker/ckeditor-plugin-wsc.git
[submodule "plugins/scayt"]
	path = plugins/scayt
	url = https://github.com/WebSpellChecker/ckeditor-plugin-scayt.git
